h1    { font-family: monospace; font-size 100px; text-algn: center; color:navy;
    border-style: solid;
    border-color: black;
    border with: 4px;
    list-style-type: none;
    overflow: hidden;
    }
    html {background: floralwhite;}